@model VagaModel

@{
    ViewData["Title"] = "Vaga - Excluir";
}

<h1>Vaga - Excluir</h1>

<h3>Tem certeza de que deseja excluir?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ocupada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ocupada)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-outline-danger btn-sm" />
    </form>
</div>